# Dataset — large raw files, never commit
dataset/raw data/
hf_cache/
hf_hub_cache/
hf_home/
torch_cache/



# Ignore ALL files inside the checkpoints folder
checkpoints/*

# EXCEPT for the final best model (whitelist it)
!checkpoints/best_model.pth

# Ignore other large binary formats just in case
*.pt
*.h5
*.ckpt
*.pkl

# Python
__pycache__/
*.py[cod]
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs / experiment tracking
logs/
runs/
outputs/
wandb/
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store
.env